<h3>Send Email To Admin for Reserving this Book</h3>

<% form_tag :action => 'sendmail' do %>
<table width=100%>
	<tr>
		<td>
	
	<table align=center width="79">
	
	<tr>
		<td width="67" valign=top><label for="email_subject">Subject</label>:</td>
		<td width="2"><%= text_field 'email', 'subject' ,:value => @sub%></td>
	</tr>

	<tr>
		<td width="67" valign=top><label for="email_recipient">Recipient</label>:</td>
		<td width="2"><%= text_field 'email', 'recipient', :value => @mail_id %></td>
	</tr>
	
	<tr>
		<td width="67" valign=top><label for="email_message">Message</label>:</td>
		<td width="2"><%= text_area 'email', 'message', :value => @message %></td>
	</tr>
	
	<tr>
		<td>&nbsp;</td>
		<td>
			<%= submit_tag "Send" %>
		</td>
	</table>
	
	</td>
	</tr>
</table>
  </font>
<% end %>